@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
}

body {
  background: #fff;
  color: #001542;
}

header {
  padding: 20px 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #001542;
  font-size: 14px;
}

.logo {
  height: 30px;
}

.menu-icon {
  margin-left: 25px;
  cursor: pointer;
  font-size: 20px;
  color: #001542;
}

/* FOOTER */

footer {
  background: #00132e;
  color: white;
  padding: 20px 40px;
  text-align: center;
  border-radius: 20px;
  max-width: 900px;
  margin: 40px auto 20px auto;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

footer div {
  margin: 10px 0;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
  vertical-align: middle;
}