@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

/* HEADER */

header {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 20px 50px;
  z-index: 10;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 20px;
}

.nav-left.nav-left:hover {
  color: #ffb30d;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.navbar a {
  text-decoration: none;
  color: #001542;
  font-size: 14px;
}

.logo {
  height: 30px;
}

.menu-icon {
    margin-left: 25px;
    cursor: pointer;
    font-size: 20px; 
    color: #001542;
}


.miles-banner {
  background: linear-gradient(to right, #001542, #0055a5);
  color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
  margin: 80px auto 20px auto;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.quiz-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px 0;
  justify-content: center;
}


.quiz-card, .quiz-suggested-card {
  background: #f5f5f5;
  border-radius: 15px;
  padding: 10px;
  min-width: 180px;
  max-width: 180px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-card img,
.quiz-suggested-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.quiz-title {
  font-weight: 600;
  margin-bottom: 5px;
}

.quiz-reward {
  color: #555;
  font-size: 14px;
  margin-bottom: 10px;
}

.play-btn {
  background-color: #ffb30d;
  color: white;
  border: none;
  padding: 8px 14px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.play-btn:hover {
  background-color: #e6a800;
  transition: background-color 0.3s ease;
}

/* FOOTER */

footer {
  background: #00132e;
  color: white;
  padding: 20px 40px;
  text-align: center;
  border-radius: 20px;
  max-width: 900px;
  margin: 40px auto 20px auto;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

footer div {
  margin: 10px 0;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
  vertical-align: middle;
}